$button-size: 2rem;
$inactive-color: rgba(195, 195, 195, 0.719);
$theme-color: #00ca9b;

@mixin circle-button-properties($background, $color: default) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: $button-size;
  width: $button-size;

  border-radius: 50%;

  color: $color;
  background-color: $background;
  font-size: 1.2rem;
  cursor: pointer;

  transition: transform, color, ease-out 200ms;

  &:hover {
    color: $theme-color;
    background-color: $theme-color;
    transform: scale(1.1);

    &::after {
      content: '';
      position: absolute;
      height: $button-size - 0.3rem;
      width: $button-size - 0.3rem;

      border-radius: 50%;
      background-color: white;
    }
  }
}

@mixin square-button-properties($background, $color: default) {
  border: none;
  border-radius: 0.3rem;

  max-height: 3rem;
  max-width: 15rem;

  min-height: 2rem;
  min-width: 30rem;

  font-size: 1.2rem;
  background-color: $background;
  color: $color;

  transition: background-color, color, ease-in 150ms;
  cursor: pointer;
}

.rating-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4%;

  max-width: 50rem;

  padding-left: 1%;
  padding-right: 1%;
}

.number-button {
  @include circle-button-properties($inactive-color);
}

.number-button-active {
  @include circle-button-properties($theme-color, white);
}

.connecting-bar {
  width: 21%;
  height: 15%;
  background-color: $inactive-color;
  transition: background-color ease-in 200ms;
}

.connecting-bar-active {
  @extend .connecting-bar;
  background-color: $theme-color;
}

.rating-text {
  padding-left: 1%;
  font-size: 1.4rem;
}

.rating-number {
  z-index: 1000;
}

.rating-name {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  margin-left: 1%;
  margin-right: 1%;
}

.square-button {
  @include square-button-properties($inactive-color);

  &:hover {
    background-color: rgba(168, 168, 168, 0.726);
  }
}

.square-button-active {
  @include square-button-properties($theme-color, white);
}
