.form-background {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.746);
}

.form-page {
  min-height: 40rem;
  max-height: 75rem;

  max-width: 50rem;
  min-width: 50rem;

  margin-top: 5vh;
  padding: 0.5vh;

  box-shadow: 0 0 0.3rem rgb(195, 195, 195);
  border-radius: 0.3rem;
  background-color: white;

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: normal;
  }

  h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: -0.5rem;
    opacity: 0.5;
  }
}
