.form-background {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.746);
}

.form-page {
  height: 90vh;
  width: 45vw;
  margin-top: 5vh;
  padding: 0.5vh;

  box-shadow: 0 0 0.3rem rgb(195, 195, 195);
  border-radius: 0.3rem;
  background-color: white;
}
