.form-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.466);

  height: 120vh;
  min-height: 100vh;
  max-height: 300vh;
  background-color: rgba(240, 240, 240, 0.746);
}

.form-page {
  min-height: 55rem;
  max-height: 90rem;

  min-width: 40rem;
  max-width: 45rem;

  margin-top: 3rem;
  padding: 0.5vh;

  box-shadow: 0 0 0.3rem rgb(195, 195, 195);
  border-radius: 0.3rem;
  background-color: white;

  h2 {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 0.9rem;
    font-weight: normal;
  }

  h4 {
    font-size: 0.7rem;
    font-weight: normal;
    margin-top: -0.5rem;
    opacity: 0.5;
  }
}
