.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 20vh;
}

.banner > h1 {
  font-size: 6vh;
  margin-top: 0.5vh;
  margin-bottom: 0;
}

.banner > h2 {
  font-size: 2.5vh;
  margin-bottom: 0;
  margin-top: 1vh;
}

.banner > h3 {
  font-size: 2vh;
  margin-top: 0;
  opacity: 0.7;
  margin-bottom: 0;
}

.banner > p {
  font-size: 1.9vh;
  margin-bottom: 0;
}

.form-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.746);
}

.form-container {
  height: 90vh;
  width: 45vw;
  margin-top: 5vh;
  padding: 0.5vh;
  -webkit-box-shadow: 0 0 0.3rem #c3c3c3;
          box-shadow: 0 0 0.3rem #c3c3c3;
  border-radius: 0.3rem;
  background-color: white;
}

.number-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
  color: default;
  background-color: rgba(163, 163, 163, 0.719);
  font-size: 1.8vh;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color, ease-out 200ms, -webkit-transform;
  transition: color, ease-out 200ms, -webkit-transform;
  transition: transform, color, ease-out 200ms;
  transition: transform, color, ease-out 200ms, -webkit-transform;
}

.number-button:hover {
  color: #00ca9b;
  background-color: #00ca9b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.number-button:hover::after {
  content: '';
  position: absolute;
  height: 2.8vh;
  width: 2.8vh;
  border-radius: 50%;
  background-color: white;
}

.number-button-active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
  color: white;
  background-color: #00ca9b;
  font-size: 1.8vh;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color, ease-out 200ms, -webkit-transform;
  transition: color, ease-out 200ms, -webkit-transform;
  transition: transform, color, ease-out 200ms;
  transition: transform, color, ease-out 200ms, -webkit-transform;
}

.number-button-active:hover {
  color: #00ca9b;
  background-color: #00ca9b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.number-button-active:hover::after {
  content: '';
  position: absolute;
  height: 2.8vh;
  width: 2.8vh;
  border-radius: 50%;
  background-color: white;
}

.rating-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rating-text {
  font-size: 2.2vh;
}

.rating-number {
  z-index: 1000;
}
/*# sourceMappingURL=main.css.map */